name: Generate Snake

on:
  schedule:
    - cron: "0 */12 * * *" # A cada 12 horas
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: Platane/snk@v3
        with:
          github_user_name: joaz0
          outputs: |
            dist/github-snake.svg
            dist/github-snake-dark.svg?palette=github-dark
